/* paleta de colores:  #FC7300 , #1F8A70 , #00425A , #181823, 
#EFF5F5 */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Belanosima', sans-serif; */

:root {
   
    --color-principal: #1F8A70;
    --color-texto:#181823;
    --color-background:#EFF5F5;
    --color-sinuso1: #FC7300;
    --color-sinuso2: #00425A;
}

*{
    box-sizing: border-box;
    background-color: var(--color-background);

}
 body{
    font-family: 'Poppins', sans-serif;
    color: var(--color-texto);
    display: grid;
    margin: 0;
 } 
 h1,h2,h3,h4,h5{font-family: 'Belanosima', sans-serif;
 }

 header{

background-image: url(./img/encabezado.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

 h1{
background-color: transparent;
text-align: center;
}

nav,ul,li, li>a{
    list-style: none;
    text-decoration: none;
    color: var(--color-texto);
    flex-direction: column;
  justify-content: end;
  text-decoration: underline;
  background-color: transparent;
}

main{
  grid-template-columns:2 1fr;
  grid-template-rows: 4 100vw;
  grid-template-areas:
  "qsimg qsp"
  "lp limg"
  "pecard pecard"
  "ununo undos"

}
 .qsimg{
    grid-area: qsimg;
    width: 50vw;
    height: auto;
 }
 .qsp{
    grid-area: qsp;
 }

 .lp{grid-area: lp;}

 .limg{grid-area: limg;
    width: 50vw;
    height: auto;
}
  .pecard{grid-area: pecard;}
.ununo{grid-area: unno;}
.undos{grid-area: undos;}






@media (min-width: 460px){} 

@media (min-width: 768px){
    nav,ul,li, li>a{
        display: flex;
        flex-direction: row;
        padding: 1rem;
    }}


    