/* paleta de colores:  #FC7300 , #1F8A70 , #00425A , #181823, 
#EFF5F5 */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Belanosima', sans-serif; */

:root {
   
    --color-principal: #1F8A70;
    --color-texto:#181823;
    --color-background:#EFF5F5;
    --color-sinuso1: #FC7300;
    --color-sinuso2: #00425A;
}

*{
    box-sizing: border-box;
    background-color: var(--color-background);

}
 body{
    font-family: 'Poppins', sans-serif;
    color: var(--color-texto);
    display: grid;
    margin: 0;
 } 
 h1,h2,h3{font-family: 'Belanosima', sans-serif;
  justify-content: center;
  text-align: center;
 }
 h4{font-family: 'Belanosima', sans-serif;
 }

 header{

background-image: url(./img/encabezado.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
/* mover panel superior */
/* position: sticky;
top: 0; */
}

 h1, header>h2{
background-color: transparent;
text-align: center;
}


nav,ul,li, li>a, nav>ul>h2{
  font-size: 1.5rem;
    list-style: none;
    text-decoration: none;
    color: var(--color-texto);
    flex-direction: column;
  justify-content: end;
  text-decoration: underline;
  background-color: transparent;
}

nav li ul{
  display: none;
  align-items:center ;
}

nav li:hover >ul{
  display: flex;
}




main{

  grid-template-columns:2 1fr;
  grid-template-rows: 4 100vw;
  grid-template-areas:
  "qsimg qsp"
  "lp limg"
  "pecard pecard"
  "ununo undos"

}
section {display: flex;
flex-direction: column;}
section>p{align-self: center;}


 .qsimg{
    grid-area: qsimg;
    width: 50vw;
align-self: center;
 }
 .qsp{
    grid-area: qsp;
    margin: 10px 10px;
 }

 .lp{grid-area: lp;
margin: 10px 10px;}

 .limg{grid-area: limg;
    width: 50vw;
    align-self: center;
}
  .pecard{grid-area: pecard;}
.ununo{grid-area: unno;
  margin: 10px 10px;}
.undos{grid-area: undos;
  margin: 10px 10px;}


@media (min-width: 460px){} 

@media (min-width: 768px)


{
    nav,ul,li, li>a{
        display: flex;
        flex-direction: row;
        padding: 1rem;
        justify-content: center;
    }

    
    nav li ul{
      display: flex;
    }
  


  header{
    height: 30vw;
  }
  section {display: flex;
  flex-direction: row;}
    
  
  }


    